/data/mongo/db/*
/data/mongo/log/*

/data/nginx/log/*
/data/nginx/html/*

!/data/nginx/html/.gitkeep
!/data/nginx/log/.gitkeep
!/data/mongo/db/.gitkeep
!/data/mongo/log/.gitkeep

node_modules/
dist/

.DS_Store